<!DOCTYPE html>
<html>
<body>
<style>
table, td, th {  
  border: 3px solid black;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:hover {background-color:powderblue;}

th, td {
  padding: 15px;
}
</style>

<h1 style="font-size:50px;text-align: center;color:red;">Profile</h1>


<table>
	<tr>
		<td>	
			<h1 style="font-size:30px">Doc ID</h1>
		</td>
		<td>
			<h1 style="font-size:30px">{{details.0}}</h1>
		</td>
	</tr>
	<tr>
		<td>
			<h1 style="font-size:30px">Name</h1>	
		</td>
		<td>
			<h1 style="font-size:30px">{{details.1}}</h1>
		</td>
	</tr>
	<tr>
		<td>
			<h1 style="font-size:30px">Sex</h1>	
		</td>
		<td>
			<h1 style="font-size:30px">{{details.2}}</h1>
		</td>
	</tr>
	<tr>
		<td>
			<h1 style="font-size:30px">Type</h1>	
		</td>
		<td>
			<h1 style="font-size:30px">{{details.3}}</h1>
		</td>
	</tr>
	<tr>
		<td>
			<h1 style="font-size:30px">Contact No</h1>	
		</td>
		<td>
			<h1 style="font-size:30px">{{details.4}}</h1>
		</td>
	</tr>
	<tr>
		<td>
			<h1 style="font-size:30px">Email</h1>	
		</td>
		<td>
			<h1 style="font-size:30px">{{details.5}}</h1>
		</td>
	</tr>
	<tr>
		<td>
			<h1 style="font-size:30px">Password</h1>	
		</td>
		<td>
			<h1 style="font-size:30px">{{details.6}}</h1>
		</td>
	</tr>


</table>
</body>
</html>
